<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">Accueil</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Accueil2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('topic_index') }}">Topic</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Rien</a>
                </li>
                <li class="nav-item dropdown">
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#"><img src="{{'https://media.giphy.com/media/9GLiEBLM0qiSQ/source.gif'}}" width="40%">Test</a></li>
                        <li><a class="dropdown-item" href="#"><img src="{{'https://media.giphy.com/media/3o6gDWzmAzrpi5DQU8/source.gif'}}" width="40%">Admin</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Votre connexion
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if app.user %}
                            <li><a class="dropdown-item" href="#">Se déconnecter</a></li>
                        {% else %}
                            <li><a class="dropdown-item" href="#">Se connecter</a></li>
                            <div class="dropdown-divider"></div>
                            <li><a class="dropdown-item" href="#">S'incrire</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Rechercher</button>
            </form>
        </div>
    </div>
</nav>