{% extends 'base.html.twig' %}

{% block title %}Topic{% endblock %}

{% block body %}
    <h1>Topic</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ topic.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ topic.Title }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ topic.Message }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ topic.CreatedAt ? topic.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ topic.UpdatedAt ? topic.UpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('topic_index') }}">back to list</a>

    <a href="{{ path('topic_edit', {'id': topic.id}) }}">edit</a>

    {{ include('topic/_delete_form.html.twig') }}
{% endblock %}
